body {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 100px;
  background-color: #95b8d1 !important; 
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  color: #bbb;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0%
}

.header h1 {
  margin: 0;
}

.header nav {
  display: flex;
}

.header nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

.header nav a:hover {
  color: #bbb;
}

.about img {
  border: solid  rgb(134, 36, 134) 5px;
  border-radius: 50%;
  max-width: 15%;
  height: 300px; 
  margin-top: 20px; 
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Ensure the text within the flex items is centered */
  height: 75vh; /* Use the full viewport height */
  padding: 20px; /* Add some padding around */
}

.about h1 {
  font-size: 60px;
  margin: 20px;
  
}

.about p {
  font-size: 30px;
  margin-top: 20px;
  max-width: 50%; 
}


.contact {
  text-align: center;
}

.contact h1 {
  font-size: 60px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.contact p {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 40px;
}


.projects {
  background-color: #95b8d1;
  color: black;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.projects h1 {
  margin-bottom: 50px;
}

.projects img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: solid black 5px;
}

.projects a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

input {
  background-color: white;
  color: black;
}

.resume {
  text-align: center;
}

.resume h1 {
  font-size: 60px;
  margin-bottom: 100px;
}

.resume a {
  text-decoration: none;
  color: white;
  margin: 100px;
  font-size: 30px;
  background-color: black;
  padding:10px;
  border-radius: 10px;
  border: solid gray
}

.resume p {
margin-top: 20%;
font-size: 30px;
}